.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.filter {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-icon, .mat-icon, .notranslate, .material-icons, .mat-icon-no-color {
  margin-left: 1rem;
}